<section class="sucess">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
                 <button class="btn back">
                    <img src="../../../assets/images/arrow-right.png" alt="">
                    العودة
                 </button>
                 <button class="btn close">
                    <img src="../../../assets/images/close.svg" alt="">
                 </button>
            </div>
            
        </div>
        <div class="row text-center  mt-3 ">
            <div class="col-md-6  m-auto ">
               <h3>
                تم إرسال رسالتك بنجاح
               </h3>
               <p>
                الرجاء الأنتظار بعض الدقائق فقط
               </p>
            </div>
        </div>
        <div class="row text-center  mt-3 ">
            <div class="col-md-6  m-auto ">
              <img src="../../../assets/images/check-animation-h67IkbWYT2.svg" alt="" class="mb-5">

            </div>
        </div>
        <div class="text-center mt-5">
            <button  class="btn exit">
                خروج 
            </button>
        </div>
        
    </div>
</section>
