<section class="sending">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-between">
                 <button class="btn back" (click)="back()">
                    <img src="../../../assets/images/arrow-right.png" alt="">
                    العودة
                 </button>
                 <button class="btn close">
                    <img src="../../../assets/images/close.svg" alt="">
                 </button>
            </div>
            
        </div>
        <div class="row text-center  mt-3 ">
            <div class="col-md-6  m-auto ">
               <h3>
                جاري إرسال رسالتك الأسكانية
               </h3>
               <p>
                الرجاء الأنتظار بعض الدقائق فقط
               </p>
            </div>
        </div>
        <div class="row text-center  mt-3 ">
            <div class="col-md-6  m-auto ">
              <img src="../../../assets/images/sending.svg" alt="" class="mb-5">

            </div>
        </div>
        <div class="row mt-5">
            <div class="d-flex justify-content-between">
                <p>
                  جاري الأرسال
                </p>
                <p>
                  10\100
                </p>
              </div>
            <div class="progress">
               
                <div class="progress-bar"
                 role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>

        </div>
      
        
    </div>
</section>
