$secondary-color:#83899F;
$close-btn:#84929E; 
$primary-color: #183B56;
$text-color:#2E2E2E;
$list-color: #464E5F;
$border-color:#ECECEC;
$btn-no-active:#B0BBD5;
$btn-active:#3E97FF;
$white-color:#fff;
$black-color:#000000 ;
$gray-color:#A5A7AB;
$additional-p:#9CA3AF;
$descriptionItem:#6B7280;
$dark-gray:#615E83;

